
body {
    margin-top: 0px;
    margin-left: 0px;
}
table {
    border-collapse: unset !important;
}
#p1img1{
    height:90px !important;
    background: #2b2b2b;
    
}
#page_1 {
    position: relative;
    overflow: hidden;
    margin: 83px 0px 25px 23px;
    padding: 0px;
    padding-top:50px;
    border: none;
    width: 793px;
    background: white !important;
}

#page_1 #p1dimg1 {

    
   
}
#p1dimg1{
   margin-right: -420px;
}

#page_1 #p1dimg1 #p1img1 {

   position: absolute;
}




.ft0 {
    font: bold 13px 'Helvetica';
    line-height: 16px;
}

.ft1 {
    font: bold 21px 'Helvetica';
    line-height: 24px;
}

.ft2 {
    font: 1px 'Helvetica';
    line-height: 1px;
}

.ft3 {
    font: 1px 'Helvetica';
    line-height: 11px;
}

.ft4 {
    font: 1px 'Helvetica';
    line-height: 7px;
}

.ft5 {
    font: 13px 'Helvetica';
    line-height: 16px;
}

.ft6 {
    font: 1px 'Helvetica';
    line-height: 10px;
}

.ft7 {
    font: 1px 'Helvetica';
    line-height: 9px;
}

.ft8 {
    font: bold 11px 'Helvetica';
    color: #004254;
    line-height: 14px;
}

.ft9 {
    font: 1px 'Helvetica';
    line-height: 15px;
}

.ft10 {
    font: bold 11px 'Helvetica';
    line-height: 14px;
}

.ft11 {
    font: 1px 'Helvetica';
    line-height: 5px;
}

.ft12 {
    font: 1px 'Helvetica';
    line-height: 3px;
}

.ft13 {
    font: 13px 'Arial Unicode MS';
    line-height: 18px;
}

.ft14 {
    font: 12px 'Helvetica';
    color: #004254;
    line-height: 15px;
}

.ft15 {
    font: 13px 'Helvetica';
    line-height: 15px;
}

.ft16 {
    font: bold 21px 'Arial Unicode MS';
    line-height: 28px;
}

.ft17 {
    font: 16px 'Helvetica';
    line-height: 18px;
}

.p0 {
    text-align: left;
    padding-left: 7px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}

.p1 {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}

.p2 {
    text-align: left;
    padding-left: 6px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}

.p3 {
    text-align: left;
    padding-left: 4px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}

.p4 {
    text-align: left;
    padding-left: 3px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}

.p5 {
    text-align: left;
    padding-left: 26px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}

.p6 {
    text-align: left;
    padding-left: 32px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}

.p7 {
    text-align: left;
    padding-left: 190px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}

.p8 {
    text-align: right;
    padding-right: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}

.p9 {
    text-align: right;
    padding-right: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}

.p10 {
    text-align: right;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}

.p11 {
    text-align: left;
    padding-left: 618px;
    margin-top: 213px;
    margin-bottom: 0px;
}

.p12 {
    text-align: left;
    padding-left: 676px;
    margin-top: 26px;
    margin-bottom: 0px;
}

.td0 {
    padding: 0px;
    margin: 0px;
    width: 319px;
    vertical-align: bottom;
}

.td1 {
    padding: 0px;
    margin: 0px;
    width: 199px;
    vertical-align: bottom;
}

.td2 {
    padding: 0px;
    margin: 0px;
    width: 126px;
    vertical-align: bottom;
}

.td3 {
    padding: 0px;
    margin: 0px;
    width: 125px;
    vertical-align: bottom;
}

.td4 {
    padding: 0px;
    margin: 0px;
    width: 257px;
    vertical-align: bottom;
}

.td5 {
    padding: 0px;
    margin: 0px;
    width: 62px;
    vertical-align: bottom;
}

.td6 {
    padding: 0px;
    margin: 0px;
    width: 4px;
    vertical-align: bottom;
}

.td7 {
    padding: 0px;
    margin: 0px;
    width: 72px;
    vertical-align: bottom;
}

.td8 {
    padding: 0px;
    margin: 0px;
    width: 123px;
    vertical-align: bottom;
}

.td9 {
    padding: 0px;
    margin: 0px;
    width: 78px;
    vertical-align: bottom;
}

.td10 {
    padding: 0px;
    margin: 0px;
    width: 61px;
    vertical-align: bottom;
}

.td11 {
    padding: 0px;
    margin: 0px;
    width: 118px;
    vertical-align: bottom;
}

.td12 {
    border-bottom: #bfbfbf 1px solid;
    padding: 0px;
    margin: 0px;
    width: 61px;
    vertical-align: bottom;
}

.td13 {
    border-bottom: #bfbfbf 1px solid;
    padding: 0px;
    margin: 0px;
    width: 118px;
    vertical-align: bottom;
}

.td14 {
    border-bottom: #bfbfbf 1px solid;
    padding: 0px;
    margin: 0px;
    width: 62px;
    vertical-align: bottom;
}

.td15 {
    border-bottom: #bfbfbf 1px solid;
    padding: 0px;
    margin: 0px;
    width: 4px;
    vertical-align: bottom;
}

.td16 {
    border-right: #bfbfbf 1px solid;
    padding: 0px;
    margin: 0px;
    width: 77px;
    vertical-align: bottom;
}

.td17 {
    border-bottom: #bfbfbf 1px solid;
    padding: 0px;
    margin: 0px;
    width: 179px;
    vertical-align: bottom;
}

.td18 {
    border-right: #bfbfbf 1px solid;
    border-bottom: #bfbfbf 1px solid;
    padding: 0px;
    margin: 0px;
    width: 3px;
    vertical-align: bottom;
}

.td19 {
    padding: 0px;
    margin: 0px;
    width: 179px;
    vertical-align: bottom;
}

.td20 {
    border-right: #bfbfbf 1px solid;
    padding: 0px;
    margin: 0px;
    width: 3px;
    vertical-align: bottom;
}

.td21 {
    border-bottom: #bfbfbf 1px solid;
    padding: 0px;
    margin: 0px;
    width: 78px;
    vertical-align: bottom;
}

.td22 {
    border-bottom: #bfbfbf 1px solid;
    padding: 0px;
    margin: 0px;
    width: 138px;
    vertical-align: bottom;
}

.td23 {
    border-bottom: #bfbfbf 1px solid;
    padding: 0px;
    margin: 0px;
    width: 123px;
    vertical-align: bottom;
}

.td24 {
    border-bottom: #bfbfbf 1px solid;
    padding: 0px;
    margin: 0px;
    width: 126px;
    vertical-align: bottom;
}

.td25 {
    border-bottom: #bfbfbf 1px solid;
    padding: 0px;
    margin: 0px;
    width: 125px;
    vertical-align: bottom;
}

.td26 {
    border-left: #bfbfbf 1px solid;
    padding: 0px;
    margin: 0px;
    width: 77px;
    vertical-align: bottom;
}

.td27 {
    border-right: #bfbfbf 1px solid;
    padding: 0px;
    margin: 0px;
    width: 60px;
    vertical-align: bottom;
}

.td28 {
    border-right: #bfbfbf 1px solid;
    padding: 0px;
    margin: 0px;
    width: 117px;
    vertical-align: bottom;
}

.td29 {
    border-right: #bfbfbf 1px solid;
    padding: 0px;
    margin: 0px;
    width: 137px;
    vertical-align: bottom;
}

.td30 {
    border-right: #bfbfbf 1px solid;
    padding: 0px;
    margin: 0px;
    width: 122px;
    vertical-align: bottom;
}

.td31 {
    border-right: #bfbfbf 1px solid;
    padding: 0px;
    margin: 0px;
    width: 125px;
    vertical-align: bottom;
}

.td32 {
    border-right: #bfbfbf 1px solid;
    padding: 0px;
    margin: 0px;
    width: 124px;
    vertical-align: bottom;
}

.td33 {
    border-left: #bfbfbf 1px solid;
    border-bottom: #bfbfbf 1px solid;
    padding: 0px;
    margin: 0px;
    width: 77px;
    vertical-align: bottom;
}

.td34 {
    border-right: #bfbfbf 1px solid;
    border-bottom: #bfbfbf 1px solid;
    padding: 0px;
    margin: 0px;
    width: 60px;
    vertical-align: bottom;
}

.td35 {
    border-right: #bfbfbf 1px solid;
    border-bottom: #bfbfbf 1px solid;
    padding: 0px;
    margin: 0px;
    width: 117px;
    vertical-align: bottom;
}

.td36 {
    border-right: #bfbfbf 1px solid;
    border-bottom: #bfbfbf 1px solid;
    padding: 0px;
    margin: 0px;
    width: 71px;
    vertical-align: bottom;
}

.td37 {
    border-right: #bfbfbf 1px solid;
    border-bottom: #bfbfbf 1px solid;
    padding: 0px;
    margin: 0px;
    width: 122px;
    vertical-align: bottom;
}

.td38 {
    border-right: #bfbfbf 1px solid;
    border-bottom: #bfbfbf 1px solid;
    padding: 0px;
    margin: 0px;
    width: 125px;
    vertical-align: bottom;
}

.td39 {
    border-right: #bfbfbf 1px solid;
    border-bottom: #bfbfbf 1px solid;
    padding: 0px;
    margin: 0px;
    width: 124px;
    vertical-align: bottom;
}

.td40 {
    border-left: #bfbfbf 1px solid;
    border-right: #bfbfbf 1px solid;
    border-top: #bfbfbf 1px solid;
    padding: 0px;
    margin: 0px;
    width: 60px;
    vertical-align: bottom;
}

.td41 {
    border-right: #bfbfbf 1px solid;
    border-top: #bfbfbf 1px solid;
    padding: 0px;
    margin: 0px;
    width: 61px;
    vertical-align: bottom;
}

.td42 {
    border-right: #bfbfbf 1px solid;
    border-top: #bfbfbf 1px solid;
    padding: 0px;
    margin: 0px;
    width: 107px;
    vertical-align: bottom;
}

.td43 {
    border-right: #bfbfbf 1px solid;
    border-top: #bfbfbf 1px solid;
    padding: 0px;
    margin: 0px;
    width: 114px;
    vertical-align: bottom;
}

.td44 {
    border-right: #bfbfbf 1px solid;
    border-top: #bfbfbf 1px solid;
    padding: 0px;
    margin: 0px;
    width: 244px;
    vertical-align: bottom;
}

.td45 {
    border-left: #bfbfbf 1px solid;
    border-right: #bfbfbf 1px solid;
    border-bottom: #bfbfbf 1px solid;
    padding: 0px;
    margin: 0px;
    width: 60px;
    vertical-align: bottom;
}

.td46 {
    border-right: #bfbfbf 1px solid;
    border-bottom: #bfbfbf 1px solid;
    padding: 0px;
    margin: 0px;
    width: 61px;
    vertical-align: bottom;
}

.td47 {
    border-right: #bfbfbf 1px solid;
    border-bottom: #bfbfbf 1px solid;
    padding: 0px;
    margin: 0px;
    width: 107px;
    vertical-align: bottom;
}

.td48 {
    border-right: #bfbfbf 1px solid;
    border-bottom: #bfbfbf 1px solid;
    padding: 0px;
    margin: 0px;
    width: 114px;
    vertical-align: bottom;
}

.td49 {
    border-right: #bfbfbf 1px solid;
    border-bottom: #bfbfbf 1px solid;
    padding: 0px;
    margin: 0px;
    width: 244px;
    vertical-align: bottom;
}

.td50 {
    border-left: #bfbfbf 1px solid;
    border-right: #bfbfbf 1px solid;
    padding: 0px;
    margin: 0px;
    width: 60px;
    vertical-align: bottom;
}

.td51 {
    border-right: #bfbfbf 1px solid;
    padding: 0px;
    margin: 0px;
    width: 61px;
    vertical-align: bottom;
}

.td52 {
    border-right: #bfbfbf 1px solid;
    padding: 0px;
    margin: 0px;
    width: 107px;
    vertical-align: bottom;
}

.td53 {
    border-right: #bfbfbf 1px solid;
    padding: 0px;
    margin: 0px;
    width: 114px;
    vertical-align: bottom;
}

.td54 {
    border-right: #bfbfbf 1px solid;
    padding: 0px;
    margin: 0px;
    width: 244px;
    vertical-align: bottom;
}

.td55 {
    padding: 0px;
    margin: 0px;
    width: 231px;
    vertical-align: bottom;
}

.td56 {
    padding: 0px;
    margin: 0px;
    width: 133px;
    vertical-align: bottom;
}

.tr0 {
    height: 27px;
}

.tr1 {
    height: 38px;
}

.tr2 {
    height: 18px;
}

.tr3 {
    height: 11px;
}

.tr4 {
    height: 7px;
}

.tr5 {
    height: 19px;
}

.tr6 {
    height: 10px;
}

.tr7 {
    height: 9px;
}

.tr8 {
    height: 16px;
}

.tr9 {
    height: 15px;
}

.tr10 {
    height: 17px;
}

.tr11 {
    height: 22px;
}

.tr12 {
    height: 20px;
}

.tr13 {
    height: 5px;
}

.tr14 {
    height: 3px;
}

.tr15 {
    height: 23px;
}

.tr16 {
    height: 21px;
}

.t0 {
    width: 769px;
    margin-left: 1px;
    font: 13px 'Helvetica';
}

.t1 {
    width: 768px;
    margin-left: 1px;
    margin-top: 55px;
    font: 13px 'Helvetica';
}

.t2 {
    width: 364px;
    margin-left: 405px;
    font: 13px 'Helvetica';
}